table, td, th{
    border: 2px solid black;
    /* border-collapse: collapse; */
}

h1 {
    font-family: tahoma;
    font-weight: bold;
}

th {
    background-color: yellow;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
}


.senin {
    background-color: rgb(55, 215, 215);
}

.selasa {
    background-color: black;
    color: white;
}

.rabu {
    background-color: pink;
}
